
.footer {
    background-color: #333; 
    text-align: center;
    font-size: 14px;
    color: white;
    min-height: 10vh;
}

.footer a {
    color: rgb(4, 106, 202);
    text-decoration: none;
}

.footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    min-height: 10vh;
    gap: 5px;
}

.footer > div > span {
    color: red;
}

.logo {
    color: rgb(4, 106, 202);
}