.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding-left:40px;
    padding-right: 40px;
    background-color: #333; 
    color: #ffffff; 
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-left > h1{
    background-color: none;
    color:white;
    font-size: 40px;
  }

  .navbar-left > h1 > span {
    color: rgb(4, 106, 202);
  }
  
  .logo {
    width: 40px; 
    height: 40px; 
    margin-right: 10px;
  }
  
  .logo-text {
    font-size: 1.5rem; 
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    display: inline;
    margin-left: 20px; 
    font-size: 1.2rem; 
    cursor: pointer;
  }
  
  .menu-item:hover {
    color: #a7a7a7; 
  }

